
# VAPID keys can be generated using `npx web-push generate-vapid-keys`
NEXT_PUBLIC_VAPID_PUBLIC_KEY="YOUR_PUBLIC_VAPID_KEY"
VAPID_PRIVATE_KEY="YOUR_PRIVATE_VAPID_KEY"
VAPID_MAILTO="mailto:your-email@example.com"

# A secure, random string to protect the cron job endpoint
CRON_SECRET="A_VERY_SECURE_RANDOM_STRING"
