
rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      // WARNING: This rule is insecure and allows anyone to upload/delete files.
      // It is a temporary measure to make the application functional.
      allow read, write: if true;
    }
  }
}
