rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      // TEMPORARY: Allow all read and write access for debugging.
      // This is insecure and must be changed back.
      allow read, write;
    }
  }
}
